.app {
}

.app .app__section {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.app .app__section .section_map {
  width: 70%;
  height: 100%;
}
.app .app__section .section_sidebar {
  width: 30%;
  height: 100%;
}